<title>My application</title>
  <h1>Occurrences Equality Checker</h1>
   Check if the occurrences of given integers in are equal in ArrayList1 and ArrayList2
   Usage:
   .ArrayList1->Area1 , ArrayList2->Area2 , int1->Area3 , int2->Area4
   .Elements in area1 and area2 should be seperated by newline characters(1 int per line).
   .Area3 and Area4 should include only 1 element.
   .Returns true if occurences of given integers are equali, false otherwise.
    

   Result is {{result}}

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="int1" rows="10" cols="15"></textarea>
        <textarea name="int2" rows="10" cols="15"></textarea>
         
        <br>
        <input type="submit">
  </form>

